.main {
	width: 1000px;
	margin: auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header,
.content {
	min-height: 100px;
	margin: 10px 0;
}

.content {
	display: flex;
	align-items: flex-start;
	padding: 20px;
}

.list {
	width: 50%;
	background-color: white;
}

.title {
	font-size: 26px;
	color: #111;
	font-weight: normal;
	margin: 0;
}

.product-title {
	font-size: 20px;
	color: #111;
}

.product-subtitle {
	font-size: 16px;
	color: #525252;
}

.product-from {
	font-size: 10px;
	text-transform: uppercase;
	color: #767676;
	margin-top: 16px;
}

.product-img {
	width: 98px;
	margin-right: 12px;
}

.totals {
	padding: 30px;
	box-shadow: 0 0 8px #ddd;
	font-size: 16px;
	width: 300px;
}

.totals-items {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.games {
	margin: 30px 0;
}

.games-item {
	margin: 16px 0;
	display: flex;
}
.games-img img {
	width: 98px;
	margin-right: 16px;
}

.games-infos {
	display: flex;
	flex-direction: column;
}
